@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500&display=swap');
html{
    scroll-behavior: smooth;
}
body{
  font-family: 'Nunito Sans', sans-serif;
}
  .navbar-brand{
    margin-left: 80px !important;
}  

   
.info{
    color:rgb(112 112 230);
    font-size: 18px;
    
}
.navbar-expand-lg{
  background-color:#ED4E53;
  font-weight: bold;
 
}

  
.navbar-expand-lg :hover {
    color: rgb(239, 239, 243) !important;
    
  }
  .justify-content-end {
    margin-right: 80px !important;
  }
 

 .main{
    background-color: rgb(234, 228, 228);
}
.carousel-caption{
  position: absolute; 
  top: 20%; 
  left: 55%; 
}

.carousel-caption p{
  text-align: justify;
  font-size: 18px;
  justify-content: center;
}
.ghost{
  color: rgb(101, 99, 91);
  font-weight: 499;
}

section{
    margin-top: 60px;
}
.choose{
  text-align: center;
    
    
} 
.choose1{
    color:rgb(187 113 149);

    
} 
.choose2 {
  
  font-size: 18px;
  text-align: center;
 margin-bottom: 0 !important;
}


 .about1{
   
   background-size: cover;
   background-repeat: no-repeat;
    border: 1px solid rgb(252, 251, 251);
    
    
    
    
} 

#design{
    background-color: rgba(253, 252, 252, 0.885);

}
#design p{
  font-size: 18px;
  text-align: justify;
}

.why{
    background-color: #f1f1eb8f;
    
}

 .select{
    text-align: center;
   
   
} 
.content    {
    padding-left: 40px;
    font-size: 18px;
    color:#cd7d8ebd;
    
    
}
.content1{
  padding-left: 20px;
    font-size: 25px;
    color:#cd7d8ebd;   
}
.content2{
  padding-left: 40px;
    font-size: 25px;
    color:#cd7d8ebd;   
}
.content3{
  padding-left: 20px;
    font-size: 25px;
    color:#cd7d8ebd;   
}
.image{
  
    height:200px;
    width: 300px;
    
}
.image1{
  
  height:200px;
  width:300px;
  
}

.cdesign p{
  font-size: 18px;
  text-align: justify;
  
}

.cdesign{
    background-color: rgb(246, 246, 238);
    
}

.serv-p{
  font-size: 18px;
  text-align: center;
  
}
   .vacancy{  
   /* text-align: center; */
   padding-top: 15px;
   padding-left: 70px;
   
}   
#announce .bg-box{
   
    border: 1px solid rgb(228 240 228 / 64%);
    background:#f0f0ba57;

    
  }
  #announce .bg-box p{
    font-size: 18px;             
    
    color: rgb(73, 72, 70);
  }
  #announce .bg-box .seek{
     padding-left: 80px; 
    font-weight: 600;
    
    
  
  }

  #announce .bg-box li{
    font-size: 18px;
    
  }
  #announce .bg-box a{
    color: rgb(138, 138, 165);
     margin-left: 50px;
    font-size: 18px;
  }
  #announce .bg-box h5{
    padding-left: 80px;
  
  }
  

.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 36px;
    width: 500px;
    background-color:#e1c4c542;
    border-radius: 10px;
    padding: 54px;
    text-align: center;
    
    margin: 50px;
    height:380px;
    border-radius: 30px;
  }
 
  .qualification h4{
    text-align: justify;
    font-weight: 500;
  }
  
  .moreinfo{
  
    font-size: 18px !important;
    padding-left: 80px;
  }
  
   .u-list{
    
    padding-left: 100px;
    
  }
  .u-list li{
    line-height: 36px;
  }
  .icon{
    color: rgb(81, 81, 207);
  }
  .icon1{
    color: rgb(211, 125, 93);
  }
  .foot-color{
    background-color:#eb3238d6 ; 
  }
  .footer{
    padding-top: 50px;
  }
  .foot-informatex{
    text-align: justify;
  }
 .socialmedia{
  padding-left: 45px;
 }
 .copyright{
   background-color: rgba(69, 68, 68, 0.179);
   
 }
 
  
    